alias ls="ls --color -h"
alias ll="ls -l"
alias l=ll
alias la="ls -lsAX"
alias vim="nvim"
alias g="git"
alias cz="chezmoi"
alias czg="chezmoi git"
alias nah="git reset --hard; git clean -df;"

alias ip="ip --color=auto"

if (( $+commands[nvim] )); then
    alias vim=nvim
fi

if (( $+commands[gpg2] )); then
    alias gpg=gpg2
fi

# devour windows
if (( $+commands[zathura] )); then
    alias zathura="devour zathura"
fi

if (( $+commands[mpv] )); then
    alias mpv="devour mpv"
fi

alias git="noglob git"
alias msa="mux start apps"

# vim: set ft=zsh:
