--- sudo-default	2021-10-02 23:34:02.074509405 -0600
+++ sudo	2021-10-02 23:33:38.017876659 -0600
@@ -1,4 +1,5 @@
 #%PAM-1.0
+auth     sufficient  pam_u2f.so cue [cue_prompt=Touch security key...] origin=pam://{{ .chezmoi.hostname }} appid=pam://{{ .chezmoi.hostname }} userpresence=1
 auth     include     system-auth
 account  include     system-auth
 session  include     system-auth
