encryption = "gpg"
format = "json"
color = "on"

[gpg]
    recipient = "0xF189ABC3C4117523"
    suffix = ".asc"

[merge]
    command = "nvim"
    args = "-d"

[diff]
    pager = "diff-so-fancy | less --tabs=4 -RFX"

# vim: set ft=toml:
