encryption = "gpg"

[gpg]
    recipient = "6AA80D1F9E75594A9C1BCFE215B53F48CECB02C4"
    suffix = ".asc"

[merge]
    command = "nvim"
    args = "-d"

[data]
    wm = "sway"
    loginmanager = "true"
    email = "torgny.bjers@gmail.com"
    gpgkey = "6AA80D1F9E75594A9C1BCFE215B53F48CECB02C4"
    caldavdir = "~/.local/share/vdirsyncer/caldav"
