{{ if not (eq .loginmanager "true") }}
#!/bin/sh
{{ $debian := list "debian" "ubuntu" }}
{{ if not (has .chezmoi.osRelease.id $debian) }}
# invoke global and local xprofiles if they exists
[ -f $HOME/.zprofile ] && . $HOME/.zprofile
[ -f /etc/xprofile ] && . /etc/xprofile
# don't source .xprofile if it is a link to .zprofile
# (which it usually is for # me)
! expr "$(readlink $HOME/.xprofile)" : "$HOME/.zprofile" 1>/dev/null && \
    . $HOME/.xprofile

export XDG_CURRENT_DESKTOP='i3'
export XDG_SESSION_DESKTOP='i3'

exec dbus-run-session $XDG_CURRENT_DESKTOP
{{ else }}
# invoke global X session script (which ultimately invokes $HOME/.xsession)
. /etc/X11/Xsession
{{ end }}
{{ end }}
