robbyrussell/oh-my-zsh

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
robbyrussell/oh-my-zsh path:plugins/ubuntu
{ else if eq .chezmoi.osRelease.id "arch" "manjaro" }}
robbyrussell/oh-my-zsh path:plugins/archlinux
{{ end }}

robbyrussell/oh-my-zsh path:plugins/direnv
robbyrussell/oh-my-zsh path:plugins/git

robbyrussell/oh-my-zsh path:plugins/fancy-ctrl-z
robbyrussell/oh-my-zsh path:plugins/python
robbyrussell/oh-my-zsh path:plugins/pyenv
robbyrussell/oh-my-zsh path:plugins/pip
robbyrussell/oh-my-zsh path:plugins/pylint
robbyrussell/oh-my-zsh path:plugins/gnu-utils
robbyrussell/oh-my-zsh path:plugins/extract
robbyrussell/oh-my-zsh path:plugins/systemd
robbyrussell/oh-my-zsh path:plugins/rsync
robbyrussell/oh-my-zsh path:plugins/compleat
robbyrussell/oh-my-zsh path:plugins/ansible

robbyrussell/oh-my-zsh path:plugins/golang
robbyrussell/oh-my-zsh path:plugins/vscode
robbyrussell/oh-my-zsh path:plugins/docker
robbyrussell/oh-my-zsh path:plugins/docker-compose
robbyrussell/oh-my-zsh path:plugins/docker-machine
robbyrussell/oh-my-zsh path:plugins/vagrant

robbyrussell/oh-my-zsh path:plugins/gpg-agent

hlissner/zsh-autopair
hcgraf/zsh-sudo
zsh-users/zsh-completions

zdharma/fast-syntax-highlighting

romkatv/powerlevel10k

robbyrussell/oh-my-zsh path:plugins/history-substring-search

{{ .chezmoi.homeDir }}/.zshrc.d
