#!/bin/bash

set -Eeuo pipefail

op_latest=1.11.4
op_email=torgny.bjers@gmail.com

red=$(tput setaf 1)
green=$(tput setaf 2)
reset=$(tput sgr0)

echo "${green}BEFORE BOOTSTRAP${reset}"

echo "${green}Installing requirements${reset}"
{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" }}
    echo "${green}  Debian/Ubuntu detected...${reset}"
    sudo apt-get update &&
        sudo apt-get -y install git git-crypt lsb-release curl zsh \
            tomb python3-pip gnupg2 pcscd scdaemon pcsc-tools \
            yubikey-manager
{{ else if eq .chezmoi.osRelease.id "arch" }}
    echo "${green}  Arch Linux detected...${reset}"
    pamac install --upgrade --no-confirm git curl zsh run-parts unzip \
        neovim fzf yubico-pam yubikey-manager yubikey-touch-detector \
        yubioath-desktop
{{ end }}


if [[ ! -e $HOME/bin/op ]]; then
  tmpdir=$(mktemp -d)
  curl -L -o ${tmpdir}/op.zip https://cache.agilebits.com/dist/1P/op/pkg/v${op_latest}/op_linux_amd64_v${op_latest}.zip
  [[ ! -d $HOME/bin ]] && mkdir -p $HOME/bin
  unzip ${tmpdir}/op.zip -d ${tmpdir} && mv ${tmpdir}/op $HOME/bin
  if [ ! -e $HOME/.config/op/config ]; then
    eval $($HOME/bin/op signin bjers.1password.com ${op_email})
  else
    eval $($HOME/bin/op signin)
  fi
fi

# vim: set ft=sh:
