#!/bin/bash

set -Eeuo pipefail

red=$(tput setaf 1)
green=$(tput setaf 2)
reset=$(tput sgr0)

if [ ! "$(command -v chezmoi)" ]; then
  bin_dir="$HOME/bin"
  chezmoi="$bin_dir/chezmoi"
else
  chezmoi=chezmoi
fi

if [ ! -e $HOME/bin/antibody ]; then
    echo "${green}Installing antibody and creating static plugin list${reset}"
    curl -sfL git.io/antibody | sh -s - -b $HOME/bin &&
        chmod +x $HOME/bin/antibody &&
        $HOME/bin/antibody bundle <{{ .chezmoi.homeDir }}/.zsh_plugins.txt > \
            {{ .chezmoi.homeDir }}/.zsh_plugins.sh
fi

echo "${green}Updating vendor dependencies${reset}"
mr -c $HOME/.vendor/.mrconfig update

echo "${green}Copying icons${reset}"
mkdir -p $HOME/.local/share/icons
cp -r $HOME/.vendor/gruvboxplasma/icons/Gruvbox $HOME/.local/share/icons/

echo "${green}Installing 1password${reset}"
curl -sS https://downloads.1password.com/linux/keys/1password.asc | gpg --import
CUR_DIR=$(pwd)
cd $HOME/.vendor/1password
makepkg -si --noconfirm
cd "${CUR_DIR}"

echo "${green}Install asdf plugins${reset}"
. $HOME/.vendor/asdf/asdf.sh
asdf plugin list | grep -q "^golang$" || asdf plugin-add golang https://github.com/kennyp/asdf-golang.git
asdf plugin list | grep -q "^python$" || asdf plugin-add python https://github.com/danhper/asdf-python.git

echo "${green}Enabling all user services/sockets/timers${reset}"
systemctl --user enable --now ~/.config/systemd/user/*.service
systemctl --user enable --now ~/.config/systemd/user/*.socket
systemctl --user enable --now ~/.config/systemd/user/*.timer

rmdir ~/Documents/ ~/Pictures/ ~/Public/ ~/Videos/ &>/dev/null || true

echo "${green}Changing from (possible) https to ssh${reset}"
${chezmoi} git remote set-url origin git@github.com:{{ .chezmoi.username }}/dotfiles

# vim: set ft=sh:
