# https://github.com/drduh/config/blob/master/gpg-agent.conf
# https://www.gnupg.org/documentation/manuals/gnupg/Agent-Options.html
ttyname $GPG_TTY
# cache keys for one hour before expiring
default-cache-ttl 3600
# no matter what, re-enforce entering correct passphrase after 2 hours
max-cache-ttl 7200
# don't grab all input
no-grab
# work around gnome-keyring issues
no-allow-external-cache
# don't user cache when signing shit
#ignore-cache-for-signing
# Enable SSH agent support
enable-ssh-support

{{- if eq .wm "kde" }}
pinentry-program /usr/bin/pinentry-kwallet
{{- else if eq .chezmoi.wm "gnome" }}
pinentry-program /usr/bin/pinentry-gnome3
{{- else }}
pinentry-program /usr/bin/pinentry-qt
{{- end }}
