[general]
status_path = "~/.local/share/vdirsyncer/status"

[pair personal_sync]
a = "personal"
b = "personallocal"
collections = ["from a", "from b"]
conflict_resolution = "a wins"
metadata = ["color"]

[storage personal]
type = "google_calendar"
token_file = "~/.local/share/vdirsyncer/google_calendar_token"
client_id.fetch = ["command", "kwalletcli", "-f", "vdirsyncer", "-e", "client_id"]
client_secret.fetch = ["command", "kwalletcli", "-f", "vdirsyncer", "-e", "client_secret"]

[storage personallocal]
type = "filesystem"
path = "{{- .caldavdir -}}"
fileext = ".ics"

# vim: set ft=toml:
