[Unit]
Description=Mailbox synchronization timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=3m
OnUnitActiveSec=1m
Unit=mbsync.service

[Install]
WantedBy=default.target
