export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_CACHE_HOME="${HOME}/.cache"

export TMPDIR="/tmp/${USER}"
systemctl --user import-environment XDG_CONFIG_HOME XDG_DATA_HOME XDG_CACHE_HOME TMPDIR

# requires qt5ct (and settings there)
# Let KDE and GNOME handle themselves
expr "$XDG_CURRENT_DESKTOP" : ".*\(KDE\|GNOME\).*" 1>/dev/null || export QT_QPA_PLATFORMTHEME="qt5ct"

# set SSH Variables
export SSH_AUTH_SOCK=${XDG_RUNTIME_DIR}/gpg-agent.socket
{{- $ssh_askpass_base := "" -}}
{{- $kssh_askpass_base := "" -}}
{{- if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
    {{- $ssh_askpass_base = "/usr/lib/openssh" -}}
    {{- $kssh_askpass_base = "/bin" -}}
{{- else if eq .chezmoi.osRelease.id "arch" "manjaro" -}}
    {{- $ssh_askpass_base = "/usr/lib/ssh" -}}
    {{- $kssh_askpass_base = "/usr/bin" -}}
{{- end }}
expr "$XDG_CURRENT_DESKTOP" : ".*GNOME.*" 1>/dev/null && export SSH_ASKPASS={{ $ssh_askpass_base }}/gnome-ssh-askpass
#expr "$XDG_CURRENT_DESKTOP" : ".*KDE.*" 1>/dev/null && export SSH_ASKPASS={{ $kssh_askpass_base }}/ksshaskpass
[ -z "$SSH_ASKPASS" ] && export SSH_ASKPASS={{ $ssh_askpass_base }}/x11-ssh-askpass
# import to systemctl user-environment
systemctl --user import-environment SSH_AUTH_SOCK SSH_ASKPASS

# use new freetype 2.7 default interpreter
export FREETYPE_PROPERTIES="truetype:interpreter-version=40"

# workaround for 1Password messing with wrong locales
export OP_LOCALE=en_US

export NOTMUCH_CONFIG=${XDG_CONFIG_HOME}/mail/notmuch-config

# vim: set ft=zsh:
